.App {
    text-align: center;
}

.App-logo {
    height: 130px;
}

.App-header {
    height: 150px;
    padding: 20px;
    margin-bottom: 30px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
